#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.button-group {
  display: flex;
  gap: 1em;
}
